
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}
/* CSS Styles 👇 */
* { 
  font-family: 'Lato', serif;
}
:root {
  ---dark-cyan: hsl(188, 35%, 50%);
  ---light-green: hsl(116, 36%, 50%);
  ---dark-gray: hsl(202, 6%, 35%);
  ---light-gray: hsl(192, 17%, 69%);
}
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
}
section {
  padding: 15px;
}
h2,
h3 {
 font-weight: 700;
}
.wraper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
header {
  background-image: url('Header(1).png');
  background-repeat: no-repeat;
  background-size: cover;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: black;
}
.second {
  background-color: var(---light-gray);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.third {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.pekaj ul {
  display: flex;
  flex-direction: column;
}
.pekaj {
  display: flex;
  flex-direction: column;
  text-align: center;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
a {
  text-decoration: none;
}
.free {
  background-color: var(---dark-gray);
}
.pro {
  background-color: var(---light-green);
}
.Enterprise {
  background-color: var(---dark-cyan);
}
.touchy {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper h1 {
  font-weight: 300;
}
.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer {
  color: white;
}
@media  screen and (min-width: 37.5rem) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 5px;
  }
  .copyright {
    flex-direction: row;
  }
}